<app-menu-principal></app-menu-principal>
<!-- si on part sur un composant APP principal :
  -->
<!-- <app-menu-principale-v-un></app-menu-principale-v-un> -->

<h1>{{ titreComponentAAfficher  }}</h1>

<!-- <app-discover-observable></app-discover-observable> -->
<!-- <app-obs-et-operators></app-obs-et-operators>

<app-page-list-planets></app-page-list-planets>

<app-page-list-selfies (editionSelfieFromPage)="afficherEditPanel($event)"></app-page-list-selfies>
<app-edit-selfies [selfie]="selfieAEditer"
                  (leNomDeLeventCoteTemplate)="cancelEdit()"
                  *ngIf="selfieAEditer"></app-edit-selfies> -->


<!-- <button (click)="changeTitle('Test 1')">Changer titre</button>

<app-mon-premier titre="Mon titre à moi"></app-mon-premier>
<app-mon-premier titre="Titre 2"></app-mon-premier>
<app-mon-premier (calculEstFini)="afficherCalcul($event)"
                 [titre]="titrePourEnfant"></app-mon-premier> -->

<!-- <app-mon-premier></app-mon-premier>
<app-mon-premier></app-mon-premier>
<app-mon-premier></app-mon-premier>
<app-mon-premier></app-mon-premier> -->

<router-outlet></router-outlet>
<!-- (au dessous du router outlet => C'est ici que le component de la route active va se charger -->
